@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SchoolSystem.Web.Models.Student
@model SchoolSystem.Web.Models.Student.StudentListViewModel

@{
    ViewData["Title"] = $"{Model.ClassName} Students";
}

<div class="container">
    <h2>@Model.ClassName Students</h2>
    <div class="mb-4">
        <h4>Year: @Model.Year</h4>
        <h4>Term: @Model.Term</h4>
    </div>
    @if (Model.Students.Any())
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Date of Birth</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (StudentViewModel student in Model.Students)
            {
                <tr>
                    <td>@student.FullName</td>
                    <td>@student.Dob.ToString("dd.MM.yyyy")</td>
                    <td>
                        <a asp-action="Index" asp-controller="Grade" asp-route-studentId="@student.Id">Оценки</a> |
                        <a asp-action="Index" asp-controller="Attendance" asp-route-studentId="@student.Id">Отсъствия</a> |
                        <a asp-action="Move" asp-controller="Student" asp-route-id="@student.Id" asp-route-schoolId="@Model.SchoolId">Премести</a> |
                        <a asp-action="Delete" asp-controller="Student" asp-route-id="@student.Id">Изтрий</a>
                    </td>                
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">
            No students enrolled in this class.
        </div>
    }

    <a asp-action="Create" asp-controller="Student"
       asp-route-classId="@Model.Id"
       asp-route-schoolId="@Model.SchoolId"
       class="btn btn-primary mr-2">
        Add Student
    </a>
    <a asp-action="Details" asp-controller="School" asp-route-id="@Model.SchoolId" class="btn btn-secondary">
        Back to School
    </a>
</div>
