@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PrincipalViewModel>

@{
    ViewData["Title"] = "Директори- Администратор";
}

<main class="page">
    @* <section class="card"> *@
    @*     <h2>Нов директор</h2> *@
    @*     <div class="form-group"> *@
    @*         <label for="inp-name">Име</label> *@
    @*         <input type="text" id="inp-name" placeholder="Име на директора"> *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         <label for="inp-from">От дата</label> *@
    @*         <input type="date" id="inp-from"> *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         <label for="inp-to">До дата</label> *@
    @*         <input type="date" id="inp-to"> *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         <label for="inp-status">Статус</label> *@
    @*         <select id="inp-status"> *@
    @*             <option value="active">активен</option> *@
    @*             <option value="inactive">неактивен</option> *@
    @*         </select> *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         <label for="inp-user">Потребител</label> *@
    @*         <input type="text" id="inp-user" placeholder="Потребител"> *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         <label for="inp-pass">Парола</label> *@
    @*         <input type="password" id="inp-pass" placeholder="Парола"> *@
    @*     </div> *@
    @*     <button id="add-btn" class="btn full">Добави</button> *@
    @* </section> *@

    <section class="card">
        <h2>Списък на директори</h2>
        <a asp-action="Create" class="btn btn-primary m-3">Създай нов директор</a>
        <table id="directorsTable">
            <thead>
            <tr>
                <th>Име</th>
                <th>Училище</th>
                <th>Специализация</th>
                <th>Номер</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            @foreach (PrincipalViewModel principal in Model)
            {
            <tr>
                <td>@principal.FullName</td>
                <td>@principal.SchoolName</td>
                <td>@principal.Specialization</td>
                <td>@principal.PhoneNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@principal.Id">📝</a> |
                    <a asp-action="Delete" asp-route-id="@principal.Id">🗑️</a>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </section>
</main>
    
@section Styles
{
    <link rel="stylesheet" href="~/css/principals-details.css" />
}
