@model IEnumerable<PrincipalViewModel>

@{
    ViewData["Title"] = "Директори - Администратор";
}

<main class="page">
    <section class="card">
        <h2>Списък на директори</h2>
        <a asp-action="Create" class="btn btn-primary m-3">Създай нов директор</a>
        <table id="directorsTable">
            <thead>
            <tr>
                <th>Име</th>
                <th>Училище</th>
                <th>Специализация</th>
                <th>Номер</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            @foreach (PrincipalViewModel principal in Model)
            {
            <tr>
                <td>@principal.FullName</td>
                <td>@principal.SchoolName</td>
                <td>@principal.Specialization</td>
                <td>@principal.PhoneNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@principal.Id">📝</a> |
                    <form asp-action="Delete" asp-route-id="@principal.Id" method="post" style="display:inline;" 
                          onsubmit="return confirm('Сигурни ли сте, че искате да изтриете този директор?');">
                        @Html.AntiForgeryToken();
                        <button type="submit" style="background:none;border:none;">🗑️</button>
                    </form>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </section>
</main>
    
@section Styles
{
    <link rel="stylesheet" href="~/css/details.css" />
}
